Flask==3.1.2
folium==0.20.0
Jinja2==3.1.6
joblib==1.5.2
lightgbm==4.6.0
lime==0.2.0.1
numpy==2.2.0
pandas==2.3.1
python-dateutil==2.9.0.post0
requests==2.32.5
scikit-learn==1.6.1
scipy==1.16.2
shap==0.48.0
spacy==3.8.7
thefuzz==0.22.1
xgboost==3.0.5
geopy
python-dotenv